img{
    width: 280px;
}
h1 {
    font-size: 40px;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 30px;
}
.logo{
    text-align: center;
    align-items: center;
    align-content: center;
    display: block;
}
p{
    font-size: 20px;
}
.container{
    margin-top: 150px;
}
.container p{
    text-align: center;
}
.container a {
    color: black;
    font-size: 30px;
    text-decoration: none;
}
.footer p {
    font-size: 15px;
}
.footer a {
    text-decoration: none;
}