RewriteEngine on
# Redireccion SSL HTTPS
#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# Redireccion SSL HTTPS

# HSTS
Header set Strict-Transport-Security "max-age=33072000; includeSubDomains; preload" env=HTTPS
# HSTS

# X-FRAME Protection
Header set X-Frame-Options DENY
# X-FRAME Protection

# X-Content-Type-Options Protection
Header set X-Content-Type-Options nosniff
#Header set Content-Security-Policy "default-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://fonts.gstatic.com https://fonts.gstatic.com; object-src 'self'; frame-ancestors 'none'"
# X-Content-Type-Options Protection

# Proteccion X-XSS
Header set X-XSS-Protection "1; mode=block"
# Proteccion X-XSS

# URL AMIGABLE
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z0-9/]+)$ index.php?vista=$1
#RewriteRule ^(.*)$ $1.php
# URL AMIGABLE

# Redireccion de ERRORES
#ErrorDocument 400 /errors/400.html
#ErrorDocument 401 /errors/401.html
#ErrorDocument 403 /errors/403.html
#ErrorDocument 404 /errors/404.html
#ErrorDocument 500 /errors/500.html
# Redireccion de ERRORES

# php -- 
# Configuracion predeterminada para php7.2.
<IfModule mime_module>
  AddType application/x-httpd-ea-php72 .php .php7 .phtml
</IfModule>
# php -- 
